# URL base del backend (API). Sin slash al final.
# Dev:  http://api.tudominio.cl:4000  (requiere configurar /etc/hosts, ver README)
# Prod: https://api.tudominio.cl
PUBLIC_API_URL=http://api.ngg.cl:4000
